<h1>Premier League Wiki</h1>
<p>This is a Premier League database that is completley editable by users. </p>
<p>The Premier League is an English professional league for men's association football clubs. At the top of the English football league system, it is the country's primary football competition. Contested by 20 clubs, it operates on a system of promotion and relegation with the Football League. Besides English clubs, some of the Welsh clubs can also qualify to play, and participation by some Scottish or Irish clubs has also been mooted.</p>
<p>This wiki is small but I hope to expand it in the future</p>

<h4></h4>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
